* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Tera", sans-serif;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
  color: white;
}

.banner {
  background: url("./pics/tito_banner.png") center/cover no-repeat fixed;
}

.apply-link {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./pics/tito_banner.png") center/cover no-repeat fixed;
}

.app-link {
  color: white;
  letter-spacing: 5px;
  text-decoration: none;
}

.gallery-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url("./pics/tito_banner.png") center/cover no-repeat fixed;
}
.gallery-page #gallery {
  color: white;
  letter-spacing: 5px;
  text-decoration: none;
}

@media (max-width: 500px){
  .banner {
  /* background: url("./pics/tito_banner_small.png") center/cover no-repeat fixed; */
  background: black;
}

  .apply-link {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}

.gallery-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3));

}