* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Tera", sans-serif;
}
.application {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10vw;
  color: white;
}
.tito-application {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./pics/tito_apply.png") center/cover no-repeat fixed;
}

.app-heading {
  color: rgb(0, 0, 0);
  font-size: 7vw;
}

.home-link {
  text-transform: uppercase;
  font-size: 5vh;
  color: black;
  text-decoration: none;
  position: relative;
}

.home-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.form-info-input {
  width: 50vw;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: rgb(0, 0, 0);
  font-size: 5vh;
  margin-bottom: 16px;
}

.form-info-label {
  color: black;
  font-weight: bolder;
  font-size: 5vh;
}

#submit-button {
  letter-spacing: 5px;
  font-size: 5vh;
  width: 50vw;
}
#submit-button:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
textarea {
  font-family: inherit;
  font-size: 20px;
}
#intent {
  font-size: 10vh;
  width: 50vw;
  height: 25vh;
}
